VITE_SUPABASE_URL=https://bsmrjnviyznzgxzmwgtx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJzbXJqbnZpeXpuemd4em13Z3R4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE1NDM0MTIsImV4cCI6MjA5NzExOTQxMn0.4VeOHO42jQHlCivhcctZAkanDPfHDSnjQRnv4Zom4TE
